.logout-btn {
  width: 10rem !important;
}
.logout-icon {
  display: none;
}
.headSection-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.625rem;
}
.headSection-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.user-info {
  font-size: 1.1rem;
  text-align: left;
}
.cartIcon {
  width: 2rem;
}
.logo {
  width: 7rem;
}

.headSection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.625rem;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  gap: 1.625rem;
}

@media (max-width: 600px) {
  .headSection {
    font-size: 1rem;
    text-align: left !important;
  }
  .user-info {
    font-size: 0.8rem !important;
    text-align: left !important;
  }
  .logout-icon {
    display: flex;
    width: 1.5rem;
  }
  .logout-btn {
    display: none;
  }
}
